node_modules
tmp/
vendor/FakeXMLHttpRequest/
vendor/ember-data/
vendor/ember-qunit/
vendor/ember-resolver/
vendor/ember-testing-httpRespond/
vendor/ember/
vendor/fakehr/
vendor/handlebars/
vendor/ic-ajax/
vendor/jquery/
vendor/qunit/
vendor/emberfire/
vendor/firebase/
